

<!--For styling of input box-->
<!DOCTYPE html>
<html>
<head>
    <link href="/assets/main.css" rel="stylesheet" type="text/css">
    <!-- <style>

        input[type="text"]#subdomaintwo{
            color: black;
            text-align: right;
            width: 170px;
            border: rgba(0, 0, 0, 0.25);
            background-color: rgba(0, 0, 0, 0.075);
            /* border: 1px solid grey; */
            border-left: 0px;
            margin: 0 0 0 -7px;
            /* outline: none; */
        }
        input[type="text"]#subdomain{
            
            width: 200px;
            /* border: 1px solid gray; */
            background-color: rgba(0, 0, 0, 0.075);
            border: rgba(0, 0, 0, 0.25); 
            border-right: 0px;
        } 
    </style> -->
</head>
  <body>
      <div class="text container">
        <h2 style = "position:relative; left:20px;">
            Create an account
          </h2>
          <hr/>
          
          <form action="/register" method ="POST">
            <div>  
                <input style = "width: 1000px; position:relative; left:20px;" type="text" placeholder="username" id="subdomain" name="email" maxlength="255" required>
                <!-- <input type="text" id="subdomaintwo" value="@alphamail.com" disabled /> -->
                <label style = "width: 1000px; position:relative; left:200px; top:-42px;"> @alphamail.com</label><br>
            </div>
            <!--Making @alphamail.com after to make sure its not written.-->
            </br>
            <div>
                <input style = "width: 1000px; position:relative; left:20px; top:-50px" type="text" placeholder="password" name="password" maxlength="255" required>  
            </div>     
            <div>     
                <button style = "position:relative; left:20px; width:150px; text-align:center">Create account</button>
            </div>
            <!--Password input and a button-->
          </form>

      </div>
    </body>
</html>

<button style = "position:relative; left:20px; width:150px;" onclick="window.location.href='/'">Go to login</button>
    