<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alpha</title>
        <link href="/assets/main.css" rel="stylesheet" type="text/css">
    </head>
<body>
    <div class="table-data">

    
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
                   
        <label style = "width: 1000px; position:relative; left:20px;">From</label>
        <input type="text" style = "width: 1000px; position:relative; left:20px; top:-15px;" placeholder="To" value="<%=data.rcpt%>" name = "to" readonly></br>     

        <label style = "width: 1000px; position:relative; left:20px;">Subject</label>
        <input type="text" style = "width: 1000px; position:relative; left:20px; top:-15px;" placeholder="Subject" value="<%=data.sbjt%>" name = "subject" readonly></br>

        <label style = "position:relative; left:20px;">Body</label>
        <textarea style = "width: 1000px; position:relative; left:20px; top:-15px" name="body" rows="5" cols="5" readonly><%=data.mail_body%></textarea></br>

        
        <button style = "position:relative; left:20px; width:150px;" onclick="window.location.href='/deleteout/<%=data.id%>'">Delete</button></br>

        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>

    </div>
</body>
</html>

<button style = " width: 150px; position:relative; left:20px; width:150px; top:10px" onclick="window.location.href='/homepage'">Go to homepage</button></br>
<button style = "width: 150px; position:relative; left:20px; width:150px; top:20px;" onclick="window.location.href='/outbox'">Go to Outbox</button></br>
