<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Form Submission</title>
    <style>
    body{background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
    h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
    h2{font-size: 16px; text-align: center;}
    p{font-size: 16px; text-align: left;}
    </style>
  </head>
  <body>
    <h1>Hello World!</h1>
    <h2>welcome to AlphaMail!</h2>
    <form method="LOAD" action="/inbox/:" + name>
      <p>name</p>
      <input name="name" />
      <p>password</p>
      <input password="password" />
      <br/>
      <button>Submit</button>

    </form>

  </body>
</html>
