<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Alpha Homepage
    </title>
    <link href="/assets/main.css" rel="stylesheet" type="text/css">

  </head>
<body>  
    <div>
      <h2 style = "position:relative; left:20px;">
        Welcome to your homepage!
      </h2>
      <hr/>
    </div>
</body>
</html>
<button style = "position:relative; left:20px; width:150px;" onclick="window.location.href='/inbox'">Inbox</button></br>
<button style = "position:relative; left:20px; width:150px; top:10px;" onclick="window.location.href='/outbox'">Outbox</button></br>
<button style = "position:relative; left:20px; width:150px; top:20px;" onclick="window.location.href='/send'">Write email</button></br>
<button style = "position:relative; left:20px; width:150px; top:30px;" onclick="window.location.href='/drafts'">Drafts</button></br>
<button style = "position:relative; left:20px; width:150px; top:40px;" onclick="window.location.href='/logout'">Logout</button></br>

